#React-body {
  background-color: #c2c2c2;
}

nav i {
  margin: 0px 15px;
  animation: Home-logo-scale2 infinite 4s ease-in alternate;
}

.Home-logo {
  animation: Home-logo-scale infinite 2s linear alternate;
  height: 6vh;
  padding-left: 12vh;
  padding-right: 12vh;
}

.Home-name{
  animation: Home-logo-scale infinite 7s ease-out alternate ;
  background-color: #c2c2c2;
  margin-bottom: 0;
}

.fa-2x {
  color: #fdb
}

.Home-header {
  background-color: #c2c2c2;
  height: 13vh;
  color: #fdb;
  text-align: center;
}

.fa-user-plus {
  animation: Home-logo-scale2 infinite 4s linear alternate ;

}

.signup {
  animation: Home-logo-scale1 infinite 9s ease-in-out alternate ;
}

@keyframes Home-logo-scale {
  from { transform: scale(1.5, 1.5); }
  to { transform: scale(1.2, 1.2); }
}

@keyframes Home-logo-scale2 {
  from { transform: scale(.8, .8); }
  to { transform: scale(1, 1); }
}
