/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 40%;
}

h3 {
  animation: Home-logo-scale2 infinite 8s linear alternate;
}

.CircularProgressbar .CircularProgressbar-path {
  animation: Home-logo-scale infinite 12s ease-out alternate;
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  animation: Home-logo-scale infinite 12s ease-out alternate;
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  animation: Home-logo-scale infinite 8s linear alternate;
  fill: #fdb;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

@keyframes move_eye {
  from { margin-left: -80%; }
  to { margin-left: 80%; }
}

@keyframes Home-logo-scale {
  from { transform: scale(1, 1); }
  to { transform: scale(.95, .95); }
}

@keyframes Home-logo-scale2 {
  from { transform: scale(.87, .87); }
  to { transform: scale(1, 1); }
}
